<class_libraries>
  <library path="nova_carter_docking_core">
    <class type="nova_carter_docking::NovaCarterChargingDock"  base_class_type="opennav_docking_core::ChargingDock">
      <description>A charging dock plugin for the Nova Carter robot.</description>
    </class>
  </library>
</class_libraries>
